body {
    margin: 0;
    padding: 0;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 6px 18px 6px;
    height: 30px;
    width: 100px;
}
.header-container, .hero-container, 
.random-information, .quote-container,
.call-to-action, .footer  {
    padding: 0 180px 0;
}

.header-container, .hero-container, .footer {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.placeholder {
    color: #E5E7EB;
    background-color: gray;
    padding: 80px 40px;
    margin: 50px;
}

.link-container {
    display: flex;
    gap: 16px;
}

.hero-subtext,
.link-container > h2,
.action-subtext {
    color: #e5e7ebc5;
    font-size: 18px;
}

.hero-container {
    padding: 35px 180px 100px;
    display: flex;
    align-items: center;
}

.hero-container > * {
    flex: 1;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000;
    margin: 0;
}

.hero-subtext {
    margin: 10px 0px;
}

.subtext {
    text-align: center;
    
}

.image-row {
    display: flex;
}

.quote-container {
    background-color: #E5E7EB;
}

.quote-text {
    padding: 80px 100px 0px;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    margin-right: 150px;
    margin-top: -20px;
    padding: 15px 0px 35px;
    text-align: right;
}

.some-random, .placeholder {
    text-align: center;
}

.some-random {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    border-radius: 12px;
    margin: 80px 160px;
    justify-content: space-between;
    align-items: center;
}

.action-button {
    border: white solid;
}

.footer {
    color: #E5E7EB;
    text-align: center;
    padding: 10px;
}